*{
	padding: 0px;
	margin: 0px;
}
body {
	font-family: sans-serif;
	background-color: #fab7aa;
	
}
nav {
    background: linear-gradient(to right, #f857a6 0%, #ff5858 100%);
    display: flex;
	align-items: center;
	height: 60px;
	position: fixed;
	left: 50%;
	width: 300px; 
}
.nav h2 {
	font-size: 14px;
	color: white;
	
}
.icon {
	cursor: pointer;
	margin-right: 50px;
	line-height: 60px;

}
.icon span {
	background: #f00;
	padding: 7px;
	border-radius: 50%;
	color: #fff;
	vertical-align: top;
	margin-left: -25px;
}
.icon img {
	display: inline-block;
	width: 40px;
	margin-top: 20px;
}
.icon:hover {
	opacity: .7;
}

.notifi-box {
	width: 300px;
	opacity: 0;
	position: fixed;
	top: 63px;
	left: 50%;
	border-radius: 50px;
	transition: 1s opacity, 250ms height;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
}


.notifi-item {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 15px 5px;
	margin-bottom: 15px;
	cursor: pointer;
}

.notifi-item img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.notifi-item .text h4 {
	color: #777;
	font-size: 16px;
	margin-top: 10px;
}
.notifi-item .text p {
	color: #aaa;
	font-size: 12px;
}